<!DOCTYPE html>
<html>
<head>
    <!-- Page Title -->
    <title><%= title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <% include ../partials/home %>

    <!--for date css-->
    <link rel="stylesheet" href="/build/kalendae.css" type="text/css" charset="utf-8">
    <script type="text/javascript" src="/build/kalendae.standalone.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Heading -->
                <h2 class="section__heading text-center">
                        Make online reservation
                </h2>
        
                <!-- Subheading -->
                <p class="section__subheading text-center">
                  Select your restaurant, and submit!
                </p>
            </div>
        </div>

        <div class="row justify-content-lg-center  section_reservation__row">
				
                <% if (typeof error == 'object' && error) { %> <% for(var i = 0; i <
                    error.length; i++) { %>
                        <div class="alert alert-danger"><%= error[i].message %></div>
                    <% } }%>
                    <form id="html_form" action="confirmation" role="form" method="post">
                        <div class="form-group">
                            <label for="rname">restaurant name</label>
                            <select name="rname" id="rname">
                                <% for(var i=0; i<data.length; i++) { %>
                                    <option><%= data[i].rname%></option>
                                <%}%>
                            </select>
                        </div>
                    
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" id="date" name="date">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="timeSlot">TimeSlot</label>-->
                            <!--<select name="timeSlot" id="timeSlot">-->
                                    <!--<option>Breakfast</option>-->
                                    <!--<option>Lunch</option>-->
                                    <!--<option>Dinner</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="slot">Number of People</label>-->
                            <!--<input required type="tel" class="form-control" id="slot" name="slot" placeholder="Enter the number of slots">-->
                        <!--</div>-->
                    
                        <button type="submit" class="btn btn-primary">Next</button>
                
        </div>
    </div>

<script>
    // populate time
    function populate(selector) {
        var select = $(selector);
        var hours, minutes, ampm;
        for(var i = 420; i <= 1320; i += 15){
            hours = Math.floor(i / 60);
            minutes = i % 60;
            if (minutes < 10){
                minutes = '0' + minutes; // adding leading zero
            }
            // ampm = hours % 24 < 12 ? 'AM' : 'PM';
            // hours = hours % 12;
            if (hours === 0){
                hours = 12;
            }
            select.append($('<option></option>')
                .attr('value', hours + ':' + minutes )
                .text(hours + ':' + minutes ));
        }
    }
    populate('#startTime');
    populate('#endTime');
    // Restricts input for the given textbox to the given inputFilter.
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                }
            });
        });
    }
    setInputFilter(document.getElementById("slot"), function(value) {
        return /^\d*$/.test(value);
    });
    // Integer values (both positive and negative):
    // /^-?\d*$/.test(value)
    // Integer values (positive only):
    // /^\d*$/.test(value)
    // Integer values (positive and up to a particular limit):
    // /^\d*$/.test(value) && (value === "" || parseInt(value) <= 500)
    // Floating point values (allowing both . and , as decimal separator):
    // /^-?\d*[.,]?\d*$/.test(value)
    // Currency values (i.e. at most two decimal places):
    // /^-?\d*[.,]?\d{0,2}$/.test(value)
    // Hexadecimal values:
    //     /^[0-9a-f]*$/i.test(value)
</script>
</body>
</html>
