<!DOCTYPE html>
<html>
<head>
<% include ../partials/home %>
</head>
<body>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    <table class="table">
    <thead>
    <tr>
    <th scope="col">cuisine</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i=0; i<data.length; i++) { %>
<tr>
    <td><%= data[i].cuisine%></td>
        <td>
        <form action="/cuisine/delete/<%= data[i].cuisine%>" method="post">
        <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </td>
</tr>
        <% } %>

</tbody>
</table>
</div>
<div class="col-2"></div>
    </div>
    <div class="row">
    <div class="col text-center">
    <a href="/cuisine/insert" class="btn btn-info" role="button">Add new cuisine</a>
</div>
</div>
</body>
</html>
