<!DOCTYPE html>
<html>
<head>
    <% include ../partials/home %>

</head>
<body>
<h1>Landing page</h1>
<a href="/reservation" class="btn btn-info" role="button">Modify reservation</a>
<a href="/restaurant" class="btn btn-info" role="button">Modify restaurant</a>


</body>
</html>
