<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/home %>
    <style>
      .jumbotron {
        background-image: url(https://stmed.net/sites/default/files/restaurant-wallpapers-28840-4035412.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 0;
        margin-bottom: 0;
      }

      .card-header {
        font-weight: bold;
        color: antiquewhite;
      }

      .btn {
        background-color: peru;
        border-color: rosybrown;
      }

      .d-block {
        color: seashell;
      }
    </style>
  </head>
  <body>
    <div
      class="jumbotron jumbotron-fluid mb-0"
    >
      <div class="card card-register mx-auto mt-5 mb-5" style="width:600px; background-color: #271E1E; opacity: .8">
        <% if (typeof error == 'object' && error) { %> <% for(var i = 0; i <
        error.length; i++) { %>
        <div class="alert alert-danger"><%= error[i].message %></div>
        <% } }%>

        <div class="card-header">Register an Account</div>
        <div class="card-body">
          <form action="/register" method="post">
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="firstname" style="color: antiquewhite">First name</label>
                  <input
                    required
                    name="firstName"
                    class="form-control"
                    id="firstName"
                    type="text"
                    aria-describedby="nameHelp"
                    placeholder="Enter first name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="exampleInputLastName" style="color: antiquewhite">Last name</label>
                  <input
                    required
                    name="lastName"
                    class="form-control"
                    id="lastName"
                    type="text"
                    aria-describedby="nameHelp"
                    placeholder="Enter last name"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email" style="color: antiquewhite">Email address</label>
              <input
                required
                name="email"
                class="form-control"
                id="email"
                type="email"
                aria-describedby="emailHelp"
                placeholder="Enter email"
              />
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col-md-6">
                  <label for="password" style="color: antiquewhite">Password</label>
                  <input
                    required
                    name="password"
                    class="form-control"
                    id="password"
                    type="password"
                    placeholder="Password"
                  />
                </div>
                <div class="col-md-6">
                  <label for="passwordConfirm" style="color: antiquewhite">Confirm password</label>
                  <input
                    required
                    name="passwordConfirm"
                    class="form-control"
                    id="passwordConfirm"
                    type="password"
                    placeholder="Confirm password"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <select name="authentication" id="authentication">
                <option value="user">User</option>
                <option value="admin">Admin</option>
                <option value="restaurant">Restaurant</option>
              </select>
            </div>
            <div class="form-group">
              <label for="telephone" style="color: antiquewhite">Contact number</label>
              <input required type="tel" class="form-control" id="telephone" name="telephone" placeholder="Enter your contact number">
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Register
            </button>
          </form>
          <div class="text-center">
            <a class="d-block small mt-3" href="/login">Login Page</a>
            <a class="d-block small" href="/">Home Page?</a>
          </div>

        </div>
      </div>
    </div>
  <script>
    function setInputFilter(textbox, inputFilter) {
      ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
        textbox.addEventListener(event, function() {
          if (inputFilter(this.value)) {
            this.oldValue = this.value;
            this.oldSelectionStart = this.selectionStart;
            this.oldSelectionEnd = this.selectionEnd;
          } else if (this.hasOwnProperty("oldValue")) {
            this.value = this.oldValue;
            this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
          }
        });
      });
    }
    setInputFilter(document.getElementById("telephone"), function(value) {
      return /^\d*$/.test(value);
    });
  </script>
  </body>
</html>
